@charset "utf-8";
/*이걸 추가해야 4가지 구분이 생김 이유는 모름*/
html,body{overflow:hidden;height:100%;}
/*layout*/
#wrap{width: 100%; height: 100%; padding-right: 180px;}
#wrap > h1{font-size: 0;}
header .logo_box{position: absolute; right: 35px; top: 75px;}
header .logo_box img{width: 100px;}
#wrap header{width: 180px; height: 100%; position: fixed; right: 0px; top: 0px;
	background:url(../images/menu_bg1.png) repeat-y; z-index:11;}
#wrap header nav{width: 100%; height: 100%;}
#wrap header nav ul{width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: center;}
#wrap header nav ul li{margin:0px 0px 10px 30px; padding-left: 15px; position: relative;}
#wrap header nav ul li a{font-size: 16px; color: #89B2E9; font-weight: 600; line-height: 30px;}
#wrap header nav ul li:after{content: ""; display: block; width: 5px; height: 5px; border-radius: 50%; background: #89B2E9; position: absolute; left: 0px; top:13px}
#wrap header nav ul li:hover a,#wrap header nav ul li.on a{color: #ed3140;}
#wrap header nav ul li:hover:after,#wrap header nav ul li.on:after{background: #ed3140;}
footer {width: 150px; position: fixed; right:0px; bottom: 0px; padding: 0px 20px 30px 20px; font-size: 11px; color: #7e7e7e; z-index: 12;}
footer address{padding: 0px 0px 15px 0px;}
footer > a{display: block; width: 16px; height: 16px; position: absolute; top: -31px; transition:.4s;}
footer > a.face{background: url(../images/social_b_facebook.png) no-repeat; right: 18px;}
footer > a.face:hover{background: url(../images/social_b_facebook_hover.png) no-repeat;}
footer > a.twit{background: url(../images/social_b_twitter.png) no-repeat; right: 48px;}
footer > a.twit:hover{background: url(../images/social_b_twitter_hover.png) no-repeat;}
footer > a.instar{background: url(../images/social_b_instar.png) no-repeat; right: 80px;}
footer > a.instar:hover{background: url(../images/social_b_instar_hover.png) no-repeat;}
#container{width:100%; height:100%; position:relative; max-width:2200px; margin:0 auto;} 
#container .content{width:25%; height:100%; position:absolute;} 
#container #menu1{left:0%; background:url(../images/content_bg1.png) repeat;} 
#container #menu2{left:25%; background:url(../images/content_bg2.png) repeat;} 
#container #menu3{left:50%; background:url(../images/content_bg3.png) repeat;} 
#container #menu4{left:75%; background:url(../images/content_bg4.png) repeat;}
#container .content:before,#container .content:after{content: ""; display:block;
	position: absolute;}
#container .content:before{width:1px; height:100%; background:#000; left:0; top:0; z-index:4;}
#container .content:after{left:30px; top:180px; font-size:25px; font-weight:700; color:#89B2E9;}
#container #menu1:after{content:"현성s 소개";} 
#container #menu2:after{content:"업적(?) 소개";} 
#container #menu3:after{content:"FAQ";} 
#container #menu4:after{content:"Contact Me";}
#container .content .conbox:before{content:""; display:block; position:absolute;} 
#container #menu1 .conbox:before{background:url(../images/main_ico1.png) no-repeat; width:350px; height:260px; right:-10px; top:130px; background-size:100%;} 
#container #menu2 .conbox:before{background:url(../images/main_ico2.png) no-repeat; width:180px; height:470px; right:-30px; top:180px; background-size:100%;} 
#container #menu3 .conbox:before{background:url(../images/main_ico3.png) no-repeat; width:270px; height:310px; right:-60px; top:30px; background-size:100%;} 
#container #menu4 .conbox:before{background:url(../images/main_ico4.png) no-repeat; width:350px; height:400px; right:-170px; top:100px; background-size:100%;}
#container .content h2{opacity:0;}
